

/*------ Chat Container -----*/

.chat-wrapper{
    height: 100vh;
}

.chat-headline h1{ 
  font-family: var(--logo-font);
  font-size: 5rem;
  color: #fdfdfd;
  margin: 0 0 0 15%;
  display: inline-block;
  letter-spacing: 3px;
}

.chat-container{
    width: 70vw;
    height: 82vh;
    background-color: rgba(255, 255, 255, 0.39);
    margin: 0 auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
}
.chat-profilesContainer{
    text-align: left;
    height: inherit;
    width: 30vw;
    
}
.chat-container .chat-container-header{
   background: linear-gradient(45deg, rgb(254, 48,114), rgb(255, 89, 64));
   height: 10vh;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.chat-container .option:disabled{
    border-bottom: 1px solid rgb(187, 187, 187);
}
.chat-container .profile,
.chat-container .log-out-icon{
    display: flex;
    align-items: center;
    padding: 20px;
    color: rgb(255, 255, 255);
}

.img-container{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
}

.img-container img{
    width: 100%;
} 

/*------Chat Display -------*/

.chat-displayContainer{
    text-align: center;
    height: inherit;
    width: 70vw;

}
.chat-displayContainer h2{
    text-align: center;
    width: 100%;
    background-color: blue;

}

.chat-input{
    padding: 20px;
    display: flex;
    flex-direction: column;
}


